body {
  margin: 0px;
  padding: 20%;
  background-color: #1b4600;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.container
{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.h1
{
  font-size: 10px;
}

.text
{
  text-align: center;
  font-size: 30px;
  white-space: nowrap;
}

.app-container {
  display: grid;
  background-color: rgba(255, 0, 0, 0.849);
  padding: 10px 10px;
  grid-gap: 10px;
  border-radius: 10px;
  border-style: solid;
  border-width: 0.25mm;
  border-color: #4d4c4c;
  justify-content: center;
  font-size: 20px;
  width: 240px  
}

.app-container2
{
  display: grid;
  background-color: rgba(255, 0, 0, 0.849);
  padding: 10px 10px;
  grid-gap: 10px;
  border-radius: 10px;
  border-style: solid;
  border-width: 0.25mm;
  border-color: #4d4c4c;
  justify-content: center;
  font-size: 20px;
  width: 250px;
  height: 140px;
}

.grd-element {
  background-color: rgba(255, 0, 0, 0.849);
  color: rgba(0, 0, 0, 0.8);
  align-items: center;
}

.button {
  background-color: #000000;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  display: inline-block;
  font-size: 22px;
  border-radius: 10px;
  width: 150px;
}
